<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectSynspunkt.Properties.Settings.nicklaskruse_dk_db_webdatabaseConnectionString"
            connectionString="Data Source=mssql4.unoeuro.com;Initial Catalog=nicklaskruse_dk_db_webdatabase;Persist Security Info=True;User ID=nicklaskruse_dk;Password=9h3fyebHtkF4aApwmGxB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>